
body {
  font-family: 'Josefin Sans', sans-serif;
}

h1 {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1rem;
  font-size: 3.5rem;
  margin: 0;
  margin-top: -5px;
}

h2 {
  text-transform: uppercase;
  font-weight: 200;
  color: hsl(0, 36%, 70%);
  letter-spacing: 1rem;
  font-size: 3.5rem;
  margin: 0;
}

p {
  color: hsl(0, 36%, 70%);
  margin-top: 20px;
  width: 70%;
}

.text-box {
  position: absolute;
  top: 200px;
  left: 140px;
}

.column1 {
  position: relative;
  display: inline-block;
  width: 57.6%;
}

.column2 {
  width: 42.4%;
}

.row {
  margin: 0;
}

.background-image {
  width: 100%;
}

.logo {
  position: absolute;
  top: 60px;
  left: 140px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin: auto;
  padding: 30px 0;
}

.attribution a {
  color: #3A4C98;
  color: hsl(228, 45%, 44%);
}
