
body {
  font-family: 'Josefin Sans', sans-serif;
  margin: 0;
  padding: 0;
}

.h1-text {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1rem;
  font-size: 2rem;
  margin: 0;
  margin-top: -5px;
  text-align: center;
}

.h2-text {
  text-transform: uppercase;
  font-weight: 200;
  color: #ce9797;
  color: hsl(0, 36%, 70%);
  letter-spacing: 1rem;
  font-size: 2rem;
  margin: 0;
  text-align: center;
}

p {
  color: #ce9797;
  color: hsl(0, 36%, 70%);
  margin: 20px 10% 0 10%;
  width: 80%;
  text-align: center;
}

input {
  border: 0.5px solid #DAC4C6;
  border-radius: 54px;
  padding: 15px 30px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: transparent;
}

button {
  background-image: linear-gradient(135deg, #f8bfbf, #ee8c8c);
  border: 0;
  border-radius: 54px;
  width: 90px;
  height: 56px;
  margin-left: -130px;
  box-shadow: 0 5px 10px 5px rgba(243, 217, 216, 0.8);
}

button:focus {
  background-image: linear-gradient(135deg, #fdeded, #f8bfbf);
  box-shadow: 0 5px 10px 5px rgba(231, 191, 191, 0.6);
  outline: 0;
  border: 0;
}

input:focus {
  border-radius: 54px;
  outline: none;
  border: 2px solid #ee8c8c;
  border: 2px solid hsl(0, 74%, 74%);
  padding: 14px 30px;
}

form {
  margin-top: 50px;
  margin-bottom: 100px;
}

::-webkit-input-placeholder { /* Edge */
  color: #EDDBDB;
}
:-ms-input-placeholder { /* Internet Explorer */
  color: #EDDBDB;
}
::placeholder {
  color: #EDDBDB;
}

.text-box {
  position: absolute;
  top: 110px;
  left: 0;
  right: 0;
  bottom: 0;
}

.column1 {
  position: relative;
  display: inline-block;
  width: 99%;
}

.column2 {
  width: 0;
  height: 0;
  display: none;
}

.row {
  margin: 0;
}

.background-image {
  width: 100%;
}

.logo {
  position: absolute;
  top: 40px;
  left: 40px;
}

.error {
  color: #C07D87;
  font-size: 14px;
  margin-left: 80px;
  margin-top: 10px;
}

.icon-error {
  margin-left: -180px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  /* margin: 100px auto 100px auto; */
  /* padding: 30px 0; */
  position: absolute;
  bottom: 0;
}

.attribution a {
  color: #3A4C98;
  color: hsl(228, 45%, 44%);
}

.hero-mobile {
  width:100%;
  display: block;
  margin-bottom: 50px;
  padding: 0;
}

@media (min-width: 576px) {
  .logo {
    position: absolute;
    top: 60px;
    left: 140px;
  }

  .h1-text {
    text-align: left;
    font-size: 3.5rem;
  }

  .h2-text {
    text-align: left;
    font-size: 3.5rem;
  }
  .text-box {
    position: absolute;
    top: 200px;
    left: 140px;
    right: 0;
    bottom: 0;
  }

  p {
    width: 65%;
    text-align: left;
    margin: 20px 0 0 0;
  }

  .hero-mobile {
    width:100%;
    display: none;
  }

  .column1 {
    position: relative;
    display: inline-block;
    width: 57.6%;
  }

  .column2 {
    width: 42.4%;

    display: block;
  }

  input {
    border: 0.5px solid #DAC4C6;
    border-radius: 54px;
    padding: 15px 30px;
    width: 65%;
    margin-left: 0;
    margin-right: 0;
  }

  input:focus {
    border-radius: 54px;
    outline: none;
    border: 2px solid #ee8c8c;
    border: 2px solid hsl(0, 74%, 74%);
    padding: 14px 30px;
  }

  .error {
    margin-left: 30px;
    margin-top: 10px;
  }

  .icon-error {
    margin-left: -130px;
  }

  button {
    margin-left: -80px;
  }

  form {
    margin-bottom: 0;
  }

}
